<footer>
    <div class="container text-center py-5">
        <a href="https://www.linkedin.com/in/jorgeortizfuentes/"><i class="fab fa-linkedin"></i></a>
        <a href="https://github.com/jorgeortizfuentes"><i class="fab fa-github"></i></a>
        <a href="mailto:jorge@ortizfuentes.com"><i class="fas fa-envelope"></i></a>
    </div>
</footer>

<!-- Scripts -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.16.6/dist/umd/popper.min.js"></script>
<script src="js/blinking_bar.js"></script>
